.navbar {
  background-color: rgb(122, 122, 248);
  * {
    color: white;
  }
}

#navbarColor01 {
  color: #d1940f;
  font-weight: 500;
}
.navbar-brand{
  color: black;
  font-size: 40px;
  margin-top: 10px;
} 

.nav-link.active {
  color: #000000 !important;
}